.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 27px 392px 0 559px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 1034px;
  margin: -147px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 100px auto 0 165px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 0;
}

.u-section-1 .u-btn-3 {
  margin: -42px auto 0 415px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 57px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 292px;
    margin-left: 459px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: -111px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 64px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -95px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 182px;
    margin-left: 349px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -144px;
    margin-left: -213px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 96px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -114px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 92px;
    margin-left: 259px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: -304px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -102px;
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 151px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -127px;
    margin-left: -411px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: -14px;
    padding: 10px 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
    margin-left: -14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 16px;
    margin-left: -10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -105px;
    margin-right: 77px;
    margin-left: auto;
  }
}