.u-block-2ec8-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 532px);
  top: auto;
  right: auto;
  bottom: 11px;
}

.u-block-2ec8-6 {
  position: absolute;
  left: calc(((100% - 1140px) / 2) + 401px);
  width: 40px;
  height: 40px;
  top: 142px;
  right: auto;
  padding: 4px;
}

.u-block-2ec8-7 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 144px;
  right: calc(((100% - 1140px) / 2) + 462px);
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-block-2ec8-5 {
    left: calc(((100% - 940px) / 2)  + 432px);
  }

  .u-block-2ec8-6 {
    left: calc(((100% - 940px) / 2)  + 301px);
  }

  .u-block-2ec8-7 {
    right: calc(((100% - 940px) / 2)  + 362px);
  }
}

@media (max-width: 991px) {
  .u-block-2ec8-5 {
    left: calc(((100% - 720px) / 2)  + 322px);
  }

  .u-block-2ec8-6 {
    left: calc(((100% - 720px) / 2)  + 191px);
  }

  .u-block-2ec8-7 {
    right: calc(((100% - 720px) / 2)  + 252px);
  }
}

@media (max-width: 767px) {
  .u-block-2ec8-5 {
    left: calc(((100% - 540px) / 2)  + 232px);
  }

  .u-block-2ec8-6 {
    left: calc(((100% - 540px) / 2)  + 101px);
  }

  .u-block-2ec8-7 {
    right: calc(((100% - 540px) / 2)  + 162px);
  }
}

@media (max-width: 575px) {
  .u-block-2ec8-5 {
    left: calc(((100% - 340px) / 2)  + 132px);
  }

  .u-block-2ec8-6 {
    left: calc(((100% - 340px) / 2)  + 1px);
  }

  .u-block-2ec8-7 {
    right: calc(((100% - 340px) / 2)  + 102px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/8533f6b89976d636b01a7c7f84850320dbc9ca8141c18a2c48920b736f3e7c7cf41d47ab9faef0ac1d9138e069d8da116af3ab0262c8302ce6e55e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  margin: 303px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 132px;
    margin-left: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 78px;
    margin-right: 68px;
    margin-left: 17px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1-2 .u-text-1 {
  width: 591px;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 328px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 39px 59px 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 192px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 38px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 39px;
    margin-right: 26px;
    margin-left: -26px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 29px;
    margin-right: 22px;
    margin-left: -22px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 50px;
    margin-left: 62px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 52px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 23px 103px 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}